@model IEnumerable<MiniRPG.Models.FighterDb>

@{
    ViewBag.Title = "PickFighters";
}

<h2>Select Your Fighters!</h2>

@if(ViewBag.Player != null && ViewBag.Monster != null)
{
    <a href="../Fight/Fight">Battle!!</a>
}

<form action="PickFighters" method="post">
    @foreach (var player in ViewBag.Players)
    {
        <input type="radio" name="playerId" value="@player.PlayerId" /> @player.Name
    }
    <input type="submit" value="Select Player" />
</form>

<form action="PickFighters" method="post">
    @foreach (var monster in ViewBag.Monsters)
    {
        <input type="radio" name="monsterId" value="@monster.MonsterId" />@monster.Name
    }
    <input type="submit" value="Select Monster" />
</form>
